# https://flake8.pycqa.org/en/latest/user/configuration.html
[flake8]
# B = bugbear
# E = pycodestyle errors
# F = flake8 pyflakes
# W = pycodestyle warnings
# B9 = bugbear opinions

extend-ignore =
  # line too long
  E501
  # block comment should start with '# '
  E265,
  # too many leading '#' for block comment
  E266,

per-file-ignores =
  # __init__.py collects functionality implemented in the rest of the package
  # for the sole purpose of exporting it under the `bidict` module namespace,
  # and does not understand mypy-style "import foo as foo" explicit re-exports,
  # so ignore F401 in this file ("imported but unused").
  bidict/__init__.py:F401

  # import not at top of file
  setup.py:E402
  docs/conf.py:E402
