*.pyc
.DS_Store
.benchmarks
.cache
.coverage
.eggs
.hypothesis
.idea
.mypy_cache
.tox
.venv
.vscode
__pycache__
_build
bidict.egg-info
bidict/_version.py
build
coverage.xml
dist
htmlcov
pip-wheel-metadata
