*.pyc
*.so
__pycache__
.DS_Store
.benchmarks
.cache
.coverage*
.direnv
.eggs
.hypothesis
.idea
.mypy_cache
.pytest_cache
.ruff_cache
.tox
.venv
.venv-*
.venv-benchmark
.jump
benchmark_linux_arm64.sh
bidict.egg-info
build
_build
coverage.xml
dist
htmlcov
pip-wheel-metadata
target
