# https://docs.pylint.org/en/latest/technical_reference/features.html

[MASTER]
ignore=_version.py conf.py
jobs=0

[MESSAGES CONTROL]
disable=
  abstract-method,
  arguments-differ,
  attribute-defined-outside-init,
  bad-continuation,
  broad-except,
  invalid-name,
  isinstance-second-argument-not-valid-type,  # https://github.com/PyCQA/pylint/issues/3507
  line-too-long,
  missing-function-docstring,  # prevents idiomatic type hints
  multiple-statements,  # prevents idiomatic type hints
  no-init,
  no-member,
  no-self-use,  # prevents idiomatic type hints
  not-callable,
  protected-access,
  redefined-builtin,
  signature-differs,
  super-init-not-called,
  too-few-public-methods,
  too-many-ancestors,
  too-many-branches,
  too-many-locals,
  wrong-import-order,
  wrong-import-position,
