skip_tags: true

os: Visual Studio 2015

environment:
  matrix:
    - PYTHON: "C:\\Python27-x64"
    - PYTHON: "C:\\Python36-x64"

build_script:
  - "git --no-pager log -n2"
  - "echo %APPVEYOR_REPO_COMMIT%"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;;%PATH%"
  - "python --version"
  - "pip install -e .[test]"

test_script:
  # -u makes sure we get prompt output
  # Duplicate args specified in pytest.ini with linux-style paths. TODO: DRY
  - "python -u -m pytest --doctest-glob=tests\\*.txt --doctest-glob=docs\\*.rst --doctest-glob=docs\\*.rst.inc --ignore=docs\\conf.py"
