# Tip: pre-commit run check-manifest

include LICENSE
include *.py
include *.md
include *.rst
include *.sh
include *.json
include *.yaml
include *.yml
include *.ini
include .coveragerc
include .flake8
include .editorconfig
include .pre-commit-config.yaml
include .pylintrc
include .vscode/tasks.json
include pyproject.toml
include docs/_static/custom.css
include docs/_static/bidict-types-diagram.dot
include bidict/py.typed
recursive-include .devcontainer *
recursive-include assets *.*
recursive-include docs/_static *.*
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include requirements *.*
recursive-include tests *.py
recursive-include tests *.txt
