name: lint

"on":
  push:
    branches:
      - main
      - dev
      - deps
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: check out source
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: '3.12'
          cache: pip
          cache-dependency-path: dev-deps/test.txt
      - name: install dependencies
        run: |
          python -m pip install -U uv pip setuptools wheel
          uv pip install pre-commit
      - name: run pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd
        with:
          extra_args: --all-files --verbose

permissions:
  contents: read
