name: Release to Test PyPI

"on":
  workflow_dispatch:
  push:
    tags:
      # To publish a test release to test.pypi.org,
      # create and push a tag as follows:
      #     git tag -a 0.21.3.rc1 -m "Tag 0.21.3.rc1 for release to test.pypi.org"
      #     git push --tags
      # Go to https://github.com/jab/bidict/actions?query=workflow%3A%22Release+to+Test+PyPI%22
      # and watch for a new run of this workflow to publish to test.pypi.org.
      # IMPORTANT: Run the following to clean up after:
      #     git tag -d 0.21.3.rc1
      #     git push origin :0.21.3.rc1
      - "[0-9]+.[0-9]+.[0-9]+.rc[0-9]+"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      - uses: actions/setup-python@5ccb29d8773c3f3f653e1705f474dfaa8a06a912
        with:
          python-version: '3.11'
      - run: python -m pip install -U pip setuptools build
      - run: python -m build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@c7f29f7adef1a245bd91520e94867e5c6eedddcc
        with:
          user: __token__
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository_url: https://test.pypi.org/legacy/
          verbose: true

permissions:
  contents: read
