name: release to pypi.org

"on":
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-24.04
    steps:
      - name: check out source
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332
      - name: set up Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d
        with:
          python-version: '3.12'
      - name: install dependencies
        run: python -m pip install -U build
      - run: python -m build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@ec4db0b4ddc65acdf4bff5fa45ac92d78b56bdf0
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

permissions:
  contents: read
