name: PyPI release

"on":
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - uses: actions/setup-python@65d7f2d534ac1bc67fcd62888c5f4f3d2cb2b236
        with:
          python-version: '3.12'
      - run: python -m pip install -U pip setuptools build
      - run: python -m build
      - name: Publish
        uses: pypa/gh-action-pypi-publish@2f6f737ca5f74c637829c0f5c3acd0e29ea5e8bf
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}

permissions:
  contents: read
