name: Test

"on":
  workflow_dispatch:
  schedule:
    - cron: "15 16 * * *"
  push:
    branches:
      - main
      - dev
      - deps
  pull_request:
    branches:
      - main

env:
  FORCE_COLOR: "1"

jobs:
  test-all:
    name: ${{ matrix.pyversion }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # https://github.com/actions/setup-python/blob/main/docs/advanced-usage.md#available-versions-of-python-and-pypy
          - pyversion: "3.11"
            enable_coverage: true
          - pyversion: "3.10"
            more_hypothesis_examples_if_cron: true
          - pyversion: "3.9"
          - pyversion: "3.8"
          # Skip PyPY while crashing due to https://foss.heptapod.net/pypy/pypy/-/issues/3904
          # - pyversion: pypy-3.9
          # - pyversion: pypy-3.8
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1
        with:
          python-version: ${{ matrix.pyversion }}
          cache: pip
          cache-dependency-path: dev-deps/python${{ matrix.pyversion }}/test.txt
      - run: python -m pip install -U pip setuptools wheel tox==4.11.1
      - run: python -m pip install -r dev-deps/python${{ matrix.pyversion}}/test.txt
      - name: Set --hypothesis-profile=more-examples  # See tests/conftest.py
        if: ${{ github.event_name == 'schedule' && matrix.more_hypothesis_examples_if_cron }}
        run: |
          echo PYTEST_ADDOPTS="${PYTEST_ADDOPTS} --hypothesis-profile=more-examples" >> "${GITHUB_ENV}"
      - name: cache .hypothesis dir
        uses: actions/cache@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8
        with:
          path: .hypothesis
          key: hypothesis|${{ runner.os }}|${{ matrix.pyversion }}
      - name: Configure pytest to enable coverage
        if: matrix.enable_coverage
        run: |
          echo PYTEST_ADDOPTS="${PYTEST_ADDOPTS} --cov=bidict --cov-config=.coveragerc --cov-report=xml" >> "${GITHUB_ENV}"
      - run: python -m pytest
      - name: Upload coverage to Codecov  # https://github.com/codecov/codecov-action
        uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d
        if: matrix.enable_coverage
        with:
          verbose: true
          files: ./coverage.xml
          fail_ci_if_error: false  # https://github.com/codecov/codecov-action/issues/557

permissions:
  contents: read
