# This name appears as the text in the build badge: https://github.com/jab/bidict/actions/workflows/test.yml/badge.svg
name: tests

"on":
  workflow_dispatch:
    inputs:
      hypothesis_profile:
        type: choice
        description: (optional)
        options:
        - default
        - more-examples
  schedule:
    - cron: "15 16 * * *"
  push:
    branches:
      - main
      - dev
      - deps
  pull_request:
    branches:
      - main

env:
  FORCE_COLOR: "1"
  PYTEST_ADDOPTS: "--benchmark-disable"

jobs:
  test-all:
    name: ${{ matrix.pyversion }}
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        include:
          # https://github.com/actions/python-versions/blob/main/versions-manifest.json
          - pyversion: "3.13"
            enable_coverage: true
          - pyversion: "3.12"
          - pyversion: "3.11"
          - pyversion: "3.10"
          - pyversion: "3.9"
          - pyversion: "pypy-3.10"
    steps:
      - name: check out source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: set up Python ${{ matrix.pyversion }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c
        with:
          python-version: ${{ matrix.pyversion }}
      - name: set up cached uv
        uses: hynek/setup-cached-uv@757bedc3f972eb7227a1aa657651f15a8527c817
      - name: create and activate virtualenv
        run: |
          uv sync --only-group=test
          uv pip install -e .
          source .venv/bin/activate
          echo PATH="$PATH" >> "$GITHUB_ENV"
      - name: cache .mypy_cache dir
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: .mypy_cache
          key: mypy
      - name: run mypy
        run: mypy bidict tests
      - name: set hypothesis profile
        run: |
          hypothesis_profile=${{ github.event.inputs.hypothesis_profile || (github.event_name == 'schedule' && 'more-examples' || 'default') }}
          echo PYTEST_ADDOPTS="$PYTEST_ADDOPTS --hypothesis-profile=$hypothesis_profile" >> "$GITHUB_ENV"
      - name: cache .hypothesis dir
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: .hypothesis
          key: hypothesis|${{ runner.os }}|${{ matrix.pyversion }}
      - name: maybe enable coverage
        if: matrix.enable_coverage
        run: |
          echo COVERAGE_PROCESS_START="$(pwd)/.coveragerc" >> "$GITHUB_ENV"
          echo RUN_PYTEST_CMD="coverage run -m pytest" >> "$GITHUB_ENV"
      - name: run pytest
        run: ${RUN_PYTEST_CMD:-pytest}
      - name: combine and show any collected coverage
        if: matrix.enable_coverage
        run: |
          coverage combine
          coverage debug data
          coverage report
      - name: maybe upload to Codecov  # https://github.com/codecov/codecov-action
        if: matrix.enable_coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          verbose: true
          fail_ci_if_error: false  # https://github.com/codecov/codecov-action/issues/557


permissions:
  contents: read
