# https://github.com/marketplace/actions/github-actions-version-updater

name: update GitHub Actions

"on":
  workflow_dispatch:
  schedule:
    # Second day of every third month at noon
    - cron: "0 12 2 */3 *"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938
        with:
          token: ${{ secrets.ACTIONS_VERSION_UPDATER_TOKEN }}
      - name: update GitHub Actions
        uses: saadmk11/github-actions-version-updater@64be81ba69383f81f2be476703ea6570c4c8686e
        with:
          token: ${{ secrets.ACTIONS_VERSION_UPDATER_TOKEN }}
          update_version_with: release-commit-sha
          pull_request_labels: "automated, dependencies"

permissions:
  contents: write
  pull-requests: write
