# https://github.com/marketplace/actions/github-actions-version-updater

name: GitHub Actions updater

"on":
  workflow_dispatch:
  schedule:
    # First day of each month at noon
    - cron: "0 12 1 * *"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
        with:
          token: ${{ secrets.ACTIONS_VERSION_UPDATER_TOKEN }}
      - uses: saadmk11/github-actions-version-updater@64be81ba69383f81f2be476703ea6570c4c8686e
        with:
          token: ${{ secrets.ACTIONS_VERSION_UPDATER_TOKEN }}
          update_version_with: release-commit-sha
          pull_request_labels: "dependencies, automated"

permissions:
  contents: write
  pull-requests: write
