name: update dev deps

"on":
  schedule:
    # First day of every third month at noon
    - cron: "0 12 1 */3 *"
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-24.04
    steps:
      - name: check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: install Nix
        uses: DeterminateSystems/nix-installer-action@786fff0690178f1234e4e1fe9b536e94f5433196
      # - name: set up upterm session
      #   uses: lhotari/action-upterm@v1
      - name: update development dependencies
        run: nix develop --command bash -c './update_dev_dependencies'
      - name: create PR
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e
        with:
          token: ${{ secrets.DEV_DEPS_UPDATE_TOKEN }}
          title: Update development dependencies
          labels: automated,dependencies
          commit-message: Upgrade dev dependencies.

permissions:
  contents: read
  pull-requests: write
