# https://github.com/marketplace/actions/github-actions-version-updater

name: update GitHub Actions

"on":
  workflow_dispatch:
  schedule:
    # Second day of every third month at noon
    - cron: "0 12 2 */3 *"

jobs:
  main:
    runs-on: ubuntu-24.04
    steps:
      - name: check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          token: ${{ secrets.ACTIONS_VERSION_UPDATER_TOKEN }}
      - name: update GitHub Actions
        uses: saadmk11/github-actions-version-updater@v0.9.0
        with:
          token: ${{ secrets.ACTIONS_VERSION_UPDATER_TOKEN }}
          update_version_with: release-commit-sha
          pull_request_labels: "automated, dependencies"

permissions:
  contents: write
  pull-requests: write
